* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  padding-left: 200px;
  color: #111827;
}
.imgc, .imgd{
  
  padding: 10px;
  width: 100%;
}
#portada {
  height: 100vh;
  background: url("/img/b.jpg");
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
}

#portada h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
#portada p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}


aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #e2e8f0;
  padding: 20px 10px;
  border-right: 2px solid #cbd5e1;
}

aside ul {
  list-style: none;
}

aside li {
  margin: 12px 0;
}

aside a {
  color: #1e3a8a;
  text-decoration: none;
  font-weight: bold;

  display: block;
  padding: 6px 8px;
  border-radius: 6px;
}

aside a:hover {
  background-color: #3b82f6;
  color: white;
}


.contenido {
  padding: 20px;
  margin-bottom: 60px; 
}

section {
  background-color: #ffffff;
  margin: 30px auto;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  height: 95dvh;
}

section h2 {
  color: #1e3a8a;
  margin-bottom: 12px;
  border-bottom: 2px solid #3b82f6;
  padding-bottom: 5px;
}


section p, ul {
  font-size: 1rem;
  margin-top: 10px;
  color: #111827;
    padding: 20px; ;
}


section ul {
  padding-left: 20px;
}

section li {
  margin-bottom: 8px;
}


.tabla {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
  
}

.tabla div {
  
  min-width: 250px;
  background-color: #f1f5f9;
  border: 1px solid #c2cddb;
  border-radius: 8px;
  padding: 15px;
}

.tabla h4 {
  color: #1e3a8a;
  margin-bottom: 8px;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1e3a8a;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}
